<div class="line"></div>
<div class="footer">
  <div class="footer-left">
    <p>
      <b>Herlin<span class="light-blue">a</span></b>
    </p>

    <span routerLink="/impressum" #sendButton class="impressum">Impressum</span>
  </div>

  <div class="footer-middle">
    <span>ⓒ Herlina Pfeiffer 2022</span>
  </div>

  <div class="footer-right">
    <div>
      <a href="https://github.com/HPf1979" target="_blank">
        <img src="assets/img/github.png" />
      </a>
    </div>

    <a
      href="https://www.linkedin.com/in/herlina-pfeiffer-3058b5237/"
      target="_blank"
    >
      <div><img src="assets/img/linkedIn.png" /></div>
    </a>
  </div>
</div>
