<div class="about-container" id="aboutID">
  <div class="about-left">
    <h1>About me</h1>
    <p>
      I am a passioned Fronted Developer with engineering background who loves
      learning new things. During my schooltime I discovered my passionate in
      natural science especially in mathematic. I mostly enjoyed using logical
      analytical thinking and structured approach of it. I was fascinated how
      complex things can be described and solved mathtematically.
    </p>

    <div class="about-icon">
      <img src="assets/img/about-icon1.png" />
      <p>
        During my diploma and master study in process enginering, I had first
        knowledges in programming. My master thesis dealed with development of
        mathematical model for natural process. In my working life I have gained
        a lot of experiences in the industries and engineeering fields. During
        this time I have developed skills such as quick comprehension, having
        overview of difficult tasks and recognizing the essentials in them as
        well as identifying quickly the solutions. I love hardworking and
        reliability.
      </p>
    </div>
    <div class="about-icon">
      <img src="assets/img/about-icon2.png" />
      <p>
        I was inpired by my family, who has programming background to develope
        my programming skills. And I am happy as I found professional coach
        „Developer Akademie“, who helped me realizing my dream to be software
        developer.
      </p>
    </div>
  </div>
  <div class="about-right">
    <div class="foto-line">
      <div>
        <img class="foto2" src="assets/img/foto2.png" />
      </div>
      <div class="line2"></div>
    </div>
  </div>
  <!-- <div class="layer2"></div> -->
  <img class="aboutMe-shadow" src="assets/img/aboutMe-shadow.png" />
</div>

<div class="start-icons">
  <div><img src="assets/img/line1.png" /></div>

  <a href="https://github.com/HPf1979" target="_blank">
    <div class="icon"><img src="assets/img/github.png" /></div>
  </a>

  <a
    href="https://www.linkedin.com/in/herlina-pfeiffer-3058b5237/"
    target="_blank"
  >
    <div class="icon"><img src="assets/img/linkedIn.png" /></div>
  </a>

  <span>pfeiffer.herlina@gmx.net</span>
</div>

<div class="scroll-down" (click)="scroll('aboutID')">
  <div class="scroll-down-text">Scroll down</div>
  <div class="arrow"><img src="assets/img/arrow.png" /></div>
</div>
