<img class="layer2" src="assets/img/layer2.png" />

<div id="startScreen" class="start-container">
  <div class="start-left">
    <div class="start-img"><img src="assets/img/foto1.png" /></div>
    <div class="img-shadow"><img src="assets/img/img-shadow.png" /></div>
  </div>
  <div class="start-right hide-mobile">
    <div class="text-rotate">I am</div>
    <p data-aos="fade-up">Herlina Pfeiffer</p>
    <span>Fronted Developer</span>
    <button (click)="scroll('contactID')">Let's talk!</button>
  </div>
</div>

<div class="start-responsive">
  <!--   <div class="text-rotate">I am</div> -->
  <div class="right-responsive">
    <div class="text-rotate">I am</div>
    <p data-aos="fade-up">Herlina Pfeiffer</p>
    <span>Fronted Developer</span>
    <button (click)="scroll('contactID')">Let's talk!</button>
  </div>
</div>
