<div class="checkout-container">
  <div class="checkout-text-container">
    <h1>
      <span class="blue">Thank you</span><br />
      for your message!<br /><br />
      I will contact you back soone<span class="light-blue">s</span>t.
    </h1>
  </div>

  <div data-aos="flip-up" class="button">
    <a href="#headerID">
      <p>Go back to main page</p>
    </a>
  </div>

  <img class="success-shadow" src="assets/img/contact-shadow.png" />
  <img class="success-shadow2" src="assets/img/portfolio-shadow2.png" />
</div>
