<div id="portfolioID" class="portfolio-container">
  <div class="portfolio-title">
    <div class="line-left"></div>
    <div><h1>Portfolio</h1></div>
    <div class="line-right"></div>
  </div>

  <div class="undertitle">
    <p>
      This page is a sample of my my work - please feel free to try them out
    </p>
  </div>

  <img class="portfolio-shadow1" src="assets/img/portfolio-shadow1.png" />

  <div class="join" data-aos="flip-down">
    <div><img src="assets/img/join.png" /></div>
    <div class="margin-text">
      <h3>Join</h3>
      <p>JavaScript | HTML | CSS</p>
      <div class="span-div">
        <span
          >Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </span>
      </div>
      <div class="button-div">
        <a
          href="https://herlina-pfeiffer.developerakademie.net/Join"
          target="_blank"
        >
          <button class="live-test">Live test</button>
        </a>
        <a href="https://github.com/RogoJuerg/Join" target="_blank">
          <button class="github">Github</button>
        </a>
      </div>
    </div>
  </div>

  <div class="el-pollo-loco" data-aos="flip-down">
    <div class="margin-text">
      <h3>El-Pollo-Loco</h3>
      <p>JavaScript | HTML | CSS</p>
      <div class="span-div">
        <span
          >A simple Jump-and-Run game based on an object-oriented approach. Help
          El-Pollo-Loco to find coins and poison bottles to fight agins the
          killer endboss.
        </span>
      </div>
      <div class="button-div button-loco">
        <a
          href="https://herlina-pfeiffer.developerakademie.net/El-Pollo-Loco_8/index.html"
          target="_blank"
        >
          <button class="live-test">Live test</button></a
        >
        <a href="https://github.com/HPf1979/El-Pollo-Loco" target="_blank">
          <button class="github">Github</button>
        </a>
      </div>
    </div>
    <div><img src="assets/img/el-pollo-loco.png" /></div>
  </div>

  <div class="pokedex" data-aos="flip-down">
    <div><img src="assets/img/pokedex.png" /></div>
    <div class="margin-text">
      <h3>Pokedex</h3>
      <p>JavaScript | HTML | CSS | API</p>
      <div class="span-div">
        <span
          >Based on PokéAPI a simple library that provides and catalogues
          pokemon information
        </span>
      </div>
      <div class="button-div">
        <a
          href="https://herlina-pfeiffer.developerakademie.net/Pokedex_ACTUAL/index.html"
          target="_blank"
        >
          <button class="live-test">Live test</button>
        </a>

        <a href="https://github.com/HPf1979/Pokedex" target="_blank">
          <button class="github">Github</button>
        </a>
      </div>
    </div>
  </div>

  <!--   <img class="portfolio-shadow2" src="assets/img/portfolio-shadow2.png" /> -->
</div>
