<div class="impressum-container" id="impressumID">
  <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
  <p>
    Herlina Pfeiffer<br />
    Spargelkamp 7<br />
    22880 Wedel
  </p>

  <h2>Kontakt</h2>
  <p>E-Mail: pfeiffer.herlina@gmx.net</p>

  <p>
    Quelle:
    <a style="color: #00bee8" href="https://www.e-recht24.de"
      >https://www.e-recht24.de</a
    >
  </p>

  <div class="button">
    <a href="#headerID">
      <p>Go back to main page</p>
    </a>
  </div>

  <img class="success-shadow" src="assets/img/contact-shadow.png" />
  <img class="success-shadow2" src="assets/img/portfolio-shadow2.png" />
</div>
