<div class="skill-container" id="skillsID">
  <div class="skill-left">
    <img class="shadowskill" src="assets/img/shadowskill.png" />
    <div class="skill-logo">
      <div
        class="img-description"
        *ngFor="let skill of skills; let i = index"
        data-aos="flip-down"
      >
        <img src="assets/img/{{ skill.img }}.png" />
        <span> {{ skill.description }}</span>
      </div>
    </div>
  </div>

  <div class="skill-right">
    <div class="skill">
      <div class="skill-title"><h1>My skills</h1></div>
      <div class="line3"></div>
    </div>

    <div class="skill-text">
      <p>
        I have grown my fronted development skills that have allowed me to
        create different real projects
      </p>
      <div></div>
    </div>

    <div class="button">
      <button (click)="scroll('contactID')">Get in touch</button>
    </div>
  </div>
</div>
